_::-webkit-full-page-media, _:future, :root .safari_only {

  color:#0000FF; 
  background-color:#CCCCCC; 

}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome */
    #table{
        margin-top: 4%;
    } 

    /* Safari only override */
    ::i-block-chrome,#table {
        margin-top: 5%;
    } 
}

.text-center {
  text-align: center;
}
     	.text-left {
  text-align: left;
}
/**
 * Footer Styles
 */

.footer-section {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
   .white-font{
      color:white;
	  font-weight: bold;
   }
   
   .big-font{
	   font-size: 18px;
   }