@charset "utf-8";
/* CSS Document */

/*======================================================================== 
	下拉選單
  ========================================================================*/
#menuMain{
	height: 41px;
	width: 993px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	z-index: 10;
	position: relative;
}
#menuMain .css2TopBar{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#menuMain .css2TopBar li{
	float: left;
	text-align: left;
}
#menuMain .css2TopBar li.menu01,#menuMain .css2TopBar li.menu02,#menuMain .css2TopBar li.menu03,#menuMain .css2TopBar li.menu04,#menuMain .css2TopBar li.menu05,#menuMain .css2TopBar li.menu06{
	display: block;
	height: 41px;
	position:relative;
	background-image: url(../images/mainMenu.gif);
}
#menuMain .css2TopBar li:hover.menu01,#menuMain .css2TopBar li:hover.menu02,#menuMain .css2TopBar li:hover.menu03,#menuMain .css2TopBar li:hover.menu04,#menuMain .css2TopBar li:hover.menu05,#menuMain .css2TopBar li:hover.menu06{
	background-image: url(../images/mainMenu-oven.gif);
}

#menuMain .css2TopBar .menu01{
	display: block;
	width: 166px;
	background-position: 0px 0px;
	text-indent: -5000px;
}
#menuMain .css2TopBar .menu01:hover{	background-position: 0px 0px;}
#menuMain .css2TopBar .menu01 a{	display: block;	height: 100%;}
#menuMain .css2TopBar .menu02{
	display: block;
	width: 165px;
	background-position: -166px 0px;
	text-indent: -5000px;
}
#menuMain .css2TopBar .menu02:hover{	background-position: -166px 0px;}
#menuMain .css2TopBar .menu02 a{	display: block;	height: 100%;}
#menuMain .css2TopBar .menu03{
	display: block;
	width: 166px;
	background-position: -331px 0px;
	text-indent: -5000px;
}
#menuMain .css2TopBar .menu03:hover{	background-position: -331px 0px;}
#menuMain .css2TopBar .menu03 a{	display: block;	height: 100%;}
#menuMain .css2TopBar .menu04{
	display: block;
	width: 166px;
	background-position: -497px 0px;
	text-indent: -5000px;
}
#menuMain .css2TopBar .menu04:hover{	background-position: -497px 0px;}
#menuMain .css2TopBar .menu04 a{	display: block;	height: 100%;}
#menuMain .css2TopBar .menu05{
	display: block;
	width: 165px;
	background-position: -663px 0px;
	text-indent: -5000px;
}
#menuMain .css2TopBar .menu05:hover{	background-position: -663px 0px;}
#menuMain .css2TopBar .menu06{
	display: block;
	width: 165px;
	background-position: -828px 0px;
	text-indent: -5000px;
}
#menuMain .css2TopBar .menu06:hover{	background-position: -828px 0px;}
#menuMain .css2TopBar .menu06 a{	display: block;	height: 100%;}

<!--.....................................-->
#menuMain .css2TopBar li:hover{}
#menuMain .css2TopBar li ul{
	display:none;
	margin: 0px;
	position:absolute;
	left:0px;
	top:41px;
}
#menuMain .css2TopBar li:hover ul{
	display:block;
}
#menuMain .css2TopBar li:hover ul li{
	height: auto;
	width:165px;
	background-image: url(../images/menuOvenBg.png);
	_behavior: url(js/iepngfix_v2.htc);
	text-indent: 0;
	font-size: 1.1em;
}
#menuMain .css2TopBar li:hover ul li span{
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	display: block;
	margin-right: 8px;
	margin-left: 8px;
	_margin-right: 3px;
	_margin-left: 3px;
	_background-color: #fff;
}
#menuMain .css2TopBar li:hover ul li a:visited{
	color: #FFF;
}
#menuMain .css2TopBar li:hover ul li a:link{
	color: #FFF;
}
#menuMain .css2TopBar li:hover ul li a:hover{
	color: #FC0;
}

/*======================================================================== 
	內頁MENU選取狀態
  ========================================================================*/
.companyProfile #menuMain .css2TopBar li.menu02,.productsIntroduction #menuMain .css2TopBar li.menu03,.salesOffice #menuMain .css2TopBar li.menu04,.customerService #menuMain .css2TopBar li.menu05,.relatedWebsites #menuMain .css2TopBar li.menu06{
	background-image: url(../images/mainMenu-select.gif);
}
.companyProfile #menuMain .css2TopBar li:hover.menu02,.productsIntroduction #menuMain .css2TopBar li:hover.menu03,.salesOffice #menuMain .css2TopBar li:hover.menu04,.customerService #menuMain .css2TopBar li:hover.menu05,.relatedWebsites #menuMain .css2TopBar li:hover.menu06{
	background-image: url(../images/mainMenu-oven.gif);
}
.companyProfile #menuMain .css2TopBar .menu02{ background-position: -166px 0px;}
.productsIntroduction #menuMain .css2TopBar .menu03{ background-position: -331px 0px;}
.salesOffice #menuMain .css2TopBar .menu04{ background-position: -497px 0px;}
.customerService #menuMain .css2TopBar .menu05{ background-position: -663px 0px;}
.relatedWebsites #menuMain .css2TopBar .menu06{ background-position: -828px 0px;}